.deceasedCat {
    flex-grow: 1;
    margin-bottom: 15px;
}

.inside {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.inside button {
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: none;
    margin: 0px;
    margin-bottom: 4px;
    padding: 0px;
}

@media screen and (min-width: 650px) {
    .inside {
        width: 150px;
    }

    .inside button {
        height: 150px;
    }
}

@media screen and (min-width: 850px) {
    .inside {
        width: 200px;
    }

    .inside button {
        height: 200px;
    }
}