.outside {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.outside button {
    width: 100%;
    height: 100px;
    background-color: rgb(240, 240, 240);
    border: none;
    margin: 0px;
    margin-bottom: 4px;
    padding: 0px;
    text-transform: capitalize;
}

@media screen and (min-width: 650px) {
    .outside {
        width: 150px;
    }

    .outside button {
        font-size: x-large;
        height: 150px;
    }
}

@media screen and (min-width: 850px) {
    .outside {
        width: 200px;
    }

    .outside button {
        font-size: xx-large;
        height: 200px;
    }
}

.flip {
    animation-duration: 0.4s;
    animation-name: flip;
}

@keyframes flip {
    from {
        transform: none;
    }

    to {
        transform: rotateY(90deg) translate3d(0, 0, 4px);
    }
}