.gitlink>a {
    color: #428bca;
    text-decoration: none;
}

.gitlink>a:hover,
.gitlink>a:focus {
    color: #2a6496;
    text-decoration: underline;
}

.gitlink>a:hover,
.gitlink>a:active {
    outline: 0;
}

.gitlink>a:focus {
    outline: #333 dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px;
}