.version {
    color: #757575;
    width: 50%;
}

.version fieldset {
    border-color: #BDBDBD;
    border-style: dashed;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
}

.version legend {
    padding: 3px 6px;
}

@media (max-width: 600px) {
    .version {
        width: 75%
    }
}

@media (max-width: 400px) {
    .version {
        width: 100%
    }
}