.labeledInput {
    margin-bottom: 1rem !important;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.labeledInput input {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: 0;
    padding: .4rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: .5rem;
    font-size: 1rem;
    line-height: 1.5;
}
