.loginForm {
    color: #757575;
}

.loginForm fieldset {
    border-color: #BDBDBD;
    border-style: dashed;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
}

.loginForm legend {
    padding: 3px 6px;
}

.loginForm input[type="submit"] {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
}
